Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
confdefs.h
install-sh
missing
config.log
config.guess
config.sub
.deps/
Makefile.in
Makefile
*.o
config.status
*.swp
compile
stamp-h1
include/phenom/config.h
include/phenom_build_config.h.in~
include/phenom_build_config.h.in
include/phenom_build_config.h
compile
tests/*.t
tests/*.t.*
tests/bench/*.t
tests/bench/*.t.*
tests/bench/*.png
*.png
.dirstamp
*.a
*.rpm
*.dSYM
.DS_Store
.nfs*
core
docs/declmap.js
libphenom.pc
test-driver
test-suite.log
