Makefile.in
aclocal.m4
autom4te.cache/
configure
depcomp
confdefs.h
install-sh
missing
config.log
config.guess
config.sub
.deps/
Makefile.in
Makefile
*.o
config.status
*.swp
compile
stamp-h1
include/phenom/config.h.in~
include/phenom/config.h.in
include/phenom/config.h
compile
tests/*.t
tests/bench/*.t
.dirstamp
*.a
*.rpm
*.dSYM
.DS_Store
.nfs*
core
