Makefile.in
aclocal.m4
autom4te.cache/
configure
confdefs.h
config.log
.deps/
.acaux/
Makefile.in
Makefile
*.o
*.lo
*.so
*.la
.libs
config.status
libtool
*.swp
compile
stamp-h1
include/phenom/config.h
include/phenom/feature_test.h
include/phenom/stamp-h2
include/phenom_build_config.h.in~
include/phenom_build_config.h.in
include/phenom_build_config.h
tests/suite.log
tests/*.t
tests/*.t.*
tests/bench/*.t
tests/bench/*.t.*
tests/bench/*.png
*.png
.dirstamp
*.a
*.rpm
*.dSYM
*.plist
.DS_Store
.nfs*
core
docs/declmap.js
libphenom.pc
examples/echo
examples/sclient
